.hero_section {
  background: linear-gradient(to right, #D8A25E, #EEDF7A);
  color: white;
  text-align: center;
  padding-bottom: 100px;
}
.nav {
  width: 100%;
  height: 60px;
}
.ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}
.li {
  color: white;
}
.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.link {
  text-decoration: none;
  color: white;
  transition: all 360ms ease-in-out;
  padding: 8px 20px;
  border-radius: 5px;
}
.link:hover {
  background: #ff5722;
  color: white;
}
.hero_title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 2em;
}

.hero_description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.ctaBtn {
  display: inline-block;
  background: #ff7f50;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.ctaBtn:hover {
  background: #ff5722;
  color: white;
}


/* Features Section */
.main {
   background: linear-gradient(to right, #D8A25E, #EEDF7A);
}
.features_section {
  padding: 50px 20px;
  background: #f9f9f9;
  text-align: center;
}
.grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section_title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.features_grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: all 360ms ease-in-out;
}
.feature:hover {
  transform: translateY(-5px);
}

.img {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.feature_heading {
  margin-bottom: 10px;
  color: #555;
}

.footer {
  width: 100%;
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
}